* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    color: #111;
  }
  
  h1 {
    margin-top: 0;
  }
  
  button {
    border: none;
    background: #ed942f;
    color: white;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  #nameBtn{
    margin-top: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .box {
    margin-top: 15px;
    padding: 18px;
    width: 360px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border: 1px solid #e6e6ef;
  }
  
  .box p {
    margin: 10px 0;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #d7d7e2;
    border-radius: 10px;
    outline: none;
  }
  
  input[type="text"]:focus {
    border-color: #e8ad17;
  }
  
  #description {
    margin-top: 10px;
    padding: 12px;
    background: #eef3ff;
    border-radius: 12px;
    font-weight: bold;
  }
  